
 * {
  box-sizing: border-box;
}

header {
  font-size: 50px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(172, 24, 147);
}

input[type="submit"][name="login"] {
  background-color: rgba(32, 152, 243, 0.9);
}

/* ul li {
  display:inline-block;
  width: 210px;
  height: 35px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: bold;
} */

/* ul li {
  list-style-type: none;
  display: table;
	margin: 0;
	padding: 0;
	width: 300px;
	position: relative;
	overflow: auto;
  font-weight: bold;
  font-size: x-large;
  border: 3px solid;
  border-collapse: separate;
  border-spacing: 5px 0;
} */

ul {
  list-style-type: none;
  display: inline-block;
  position: fixed; /* 画面に固定して追従させます */
  top: 30vh; /* 表示画面の上から20%のところから表示を始めます */
	left:0; /* 固定位置は左側 */
	z-index: 0;
  font-weight: bold;
  font-size: x-large;
  border: 3px solid rgb(172, 24, 147);
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
}

.btn, a.btn:hover {
  position:relative;
  top: -120px;
  left: 700px;
  font-size: 30px;
}

.welcome {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
}

.username {
  text-align: left;
}

.date {
  text-align: right;
}
textarea {
  font-size: xx-large;
  resize: none;
  width: 800px;
  height: 100px;
}

input {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.2em;
  /* width: 50%; */
  padding: 8px;
}

input[name="url"] {
  display: block;
  width: 1000px;
}

select {
  display: block;
  width: auto;
  height: 35px;
  font-size: large;
}

option {
  font-size:large;
}
input[type="submit"][name="submit"] {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.2em;
  padding: 8px;
}

.clear {
  clear: both;
}

hr {
  margin-top: 45px;
  margin-bottom: 45px;
  border: 1px solid rgba(128, 128, 128, 0.673);
}

h1 {
  font-size: 50px;
  margin: auto;
}

h2 {
  font-size: 35px;
  margin: auto;
}
body {
  color: rgb(172, 24, 147);
  background-image: url("../images/background-image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#post, #index, #mypage, #genre {
  background-color:powderblue;
  background-image: none;
}

body#post {
  text-align: left;
}

tr {
  font-size: x-large;
}

table {
  margin: 0 0 0 auto;
}

tr.content {
  white-space: pre-wrap;
}
.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}

#form {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
}

form.form_login {
  margin: 0;
}

.submit {
  font-family: Arial;
  color: #37a4bf;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border: 4px solid #f5fdff;
}

.submit input:hover {
  background: #ffffff;
}

/* success.php */
.content {
  position: relative;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  max-width: 600px;
  padding: 30px;
  border-radius: 5px;
}

/* success.php */
.btn {
  width: 100%;
  background-color: rgba(32, 152, 243, 0.9);
  border: none;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, .4);
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(32, 152, 243, 1.0);
}

.btn:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

/* .next-btn {
  float: none;
  width: 100%;
} */

.back-btn, .next-btn {
  width: 48%;
  text-decoration: none;
  text-align: center;
  background-color: rgba(27, 177, 112, 0.8);
  border-radius: 5px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, .4);
  padding: 15px;
  cursor: pointer;
  display: block;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 14px;
}

.back-btn:hover, .next-btn:hover {
  background-color: rgba(27, 177, 112, 1.0);
}

.back-btn:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

label {
  display: block;
  margin-bottom: .10em;
}

.required {
  margin-left: .3em;
  color: #f33;
  font-size: .9em;
  padding: 3px;
  background-color: #fee;
  font-weight: bold;
}

.error {
  color: #ff0000;
  font-size: 100%;
  font-weight: bolder;
}

.check-info {
  color: #2b546a;
  font-weight: bold;
}

div [class="alert alert-danger"] {
  background-color: chartreuse;
}

/* mypage.php */
#mypage {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}